[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = https://github.com/kubbit/symfony1.git
[submodule "plugins/sfDoctrineGuardPlugin"]
	path = plugins/sfDoctrineGuardPlugin
	url = https://github.com/kubbit/sfDoctrineGuardPlugin.git
