<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Notificación</title>
	</head>
	<body>
		<p>La notificación realizada con fecha [sortze_data] se ha dado por resuelta.</p>
	</body>
</html>
