<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Ohartarazpena</title>
	</head>
	<body>
		<p>[sortze_data]an bidalitako gertakaria zuzendutzat eman da.</p>
	</body>
</html>
