<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Gerkud</title>
		<style type="text/css">
table
{
	border: 0;
}
th
{
	text-align: left;
}
.aldaketa
{
	display: [css-aldaketa];
}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<td colspan="2">
					<img src="[logotipoa]" alt="logotipoa" />
				</td>
			</tr>
			<tr>
				<th colspan="2">
					<hr />
					<br />
				</th>
			</tr>
			<tr>
				<th>
					<b>Gertakariaren kodea:</b>
				</th>
				<td>[id]</td>
			</tr>
			<tr>
				<th colspan="2">
					<b>Gertakariaren deskribapena:</b>
				</th>
			</tr>
			<tr>
				<td colspan="2">[deskribapena]</td>
			</tr>
		</table>

		<br />

		<p class="aldaketa">Gertakari honek ondorengo aldaketa izan du:</p>

		<table>
			<tr class="aldaketa">
				<th>
					<b>[ekintza]:</b>
				</th>
				<td>[aldaketa]</td>
			</tr>
			<tr>
				<th>
					<b>Nork egin du:</b>
				</th>
				<td>[langilea]</td>
			</tr>
		</table>

		<br />
		<br />
		<hr />

		<p>EZ ERANTZUN MEZU HONI. Mezu hau automatikoki bidali dizu GERKUD gertakarien kudeaketa aplikazioak zuk horrela konfiguratuta daukazulako. Ez baduzu horrelako mezurik jaso nahi, aldatu konfigurazioa "nire datuak" atalean</p>
	</body>
</html>
