<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>[Incidencia #[id]] [laburpena] ([ekintza])</title>

		<style type="text/css">
.langilea
{
	font-weight: bold;
}
.ekintza
{
	display: block;
	font-style: italic;
	margin-bottom: 1em;
}
.aldaketa
{
	display: block;
	margin: 0.5em;
	white-space: pre-wrap;
}
.firma
{
	display: block;
	margin-top: 1em;
}
		</style>
	</head>
	<body>
		<div class="ekintza">[ekintza] &lt;<span class="langilea">[langilea]&gt;</span>:</div>

		<div class="aldaketa">[aldaketa]</div>

		<div class="firma" style="display: inline-block; border-left: 3px solid #6699cc; padding: 0 1em;">
			<span style="font-style: italic; display: block;">[izenburua]</span>
			<span style="font-weight: bold; margin-right: 0.5em;">[erakundea]</span>
		</div>
	</body>
</html>
