html
{
	height: 100%;
}
body
{
	margin: 0;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: small;
	background-color: #f0f0f0;
	height: 100%;
	text-align: center;
}

a
{
	text-decoration: none;
	color: inherit;
}

i
{
	margin-right: 0.25em;
}

img
{
	border: none;
}

input,
select,
textarea
{
	border: 1px solid #b0b0b0;
}

tr:hover,
input:focus,
select:focus,
textarea:focus,
.botoia:hover,
.botoia:focus
{
	background-color: #ffffe0 !important;
}

#navIreki
{
	display: none;
}
#navIreki img,
.menuaIreki img
{
	height: 8px;
}
#nav
{
	position: fixed;
	top: 0;
	width: 100%;
	font-size: x-small;
	color: white;
	background-color: #6699cc;
	z-index: 999;
	opacity: 0.9;
	box-shadow: 0 10px 5px grey;
}
#nav i
{
	line-height: 2.5em;
}
#nav a img
{
	display: block;
	margin: auto;
	width: 32px;
	height: 32px;
}
#nav .menua2 ul,
#nav .menua3 ul
{
	display: none;
	cursor: pointer;
	font-size: medium;
	color: white;
	background-color: #6699cc;
	box-shadow: 0 10px 5px grey;
	position: absolute;
	right: 0;
	text-align: left;
}
#nav .menua2 img
{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 0.5em;
	vertical-align: middle;
}
#nav ul ul > li
{
	position: relative;
	display: block;
	height: inherit;
}
#nav .menua3 ul
{
	top: 0;
	left: -10em;
	width: 10em;
}
#nav li:hover > ul
{
	display: inherit;
}
#nav ul ul a
{
	width: auto;
	height: 2em;
	text-align: left;
}

#nav ul
{
	list-style: none;
	text-align: right;
	margin: 0;
	padding: 0;
}
#nav li
{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}
#nav li:hover > a
{
	color: #ccc;
	background-color: #5588bb;
	box-shadow: inset -1px -1px 1px black;
}

#nav #logoa
{
	float: left;
	margin-left: 2em;
	margin-top: 2px;
}
#nav #logoa img
{
	max-height: 4em;
	max-width: 4em;
	background-color: white;
	box-shadow: inset 0 0 3px #606060;
	padding: 3px;
	border-radius: 3px;
}
#nav #mapa
{
	float: left;
	cursor: pointer;
}
#nav a
{
	display: block;
	text-decoration: none;
	padding: 0 0.5em;
	line-height: 2em;
	height: 5em;
	width: 9em;
}
#nav img
{
	margin: 0;
	padding: 0;
	border: none;
}

#edukia
{
	margin: 7em 2em 1em;
	text-align: center;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
}

.orriak
{
	display: block;
	list-style: none;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-top: -1em;
	border: none;
}
.orriak li
{
	display: inline-block;
	width: 16.6%;
	margin: 0 -2px;
	padding: 0.25em;
	font-variant: small-caps;
	font-size: larger;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-bottom: 1px solid #b0b0b0;
	background-color: #ddd;
	background-image: linear-gradient(#f0f0f0, #ddd);
}
.orriak li:hover
{
	cursor: pointer;
}
.orriak li[data-aukeratuta=true]
{
	border: 1px solid #b0b0b0;
	border-bottom: inherit;
	background-color: #eee;
	background-image: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.orriak .ezgaituta
{
	color: #ccc;
}

form.login
{
	position: relative;
	display: block;
	color: white;
	box-shadow: 0 0 3px #606060;
	background-color: #6699cc;
	border-radius: 3px;
	padding: 1em;
	font-size: larger;
	width: 500px;
	margin: 2em auto;
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
form.login img
{
	top: 10px;
	right: 10px;
	max-height: 50px;
	max-width: 50px;
	position: absolute;
	background-color: white;
	box-shadow: inset 0 0 10px #606060;
	padding: 5px;
	border-radius: 3px;
}
form.login fieldset
{
	text-align: left;
	border: none;
	padding: 1em;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
form.login fieldset .field
{
	display: table-row;
	white-space: nowrap;
	padding: 0;
}
form.login fieldset .field *
{
	display: table-cell;
}
form.login fieldset .field label
{
	text-align: right;
	width: 10em;
	vertical-align: top;
	padding-right: 0.25em;
}
form.login fieldset .field input
{
	width: 15em;
}

.panela
{
	display: inline-block;
	margin: auto auto 2em;
	width: 710px;
	max-width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 0 3px #606060;
	background-color: white;
}
.panela fieldset
{
	text-align: left;
	border: none;
	margin: 0.5em 0 0;
	padding: 0;
	overflow: hidden;
	max-width: 100%;
	box-sizing: border-box;
	display: block;
	background-color: white;
}
.panela fieldset legend
{
	font-size: larger;
	font-weight: bold;
}
.panela ul
{
	list-style: circle;
	margin: 0 2em 1em;
	padding: 0;
}
.panela ul li
{
	border-bottom: 1px solid #eee;
}
.panela fieldset fieldset:nth-of-type(odd)
{
	background-color: #eee;
}
.panela fieldset fieldset
{
	background-color: #ddd;
}
.panela .field
{
	display: inline-block;
	white-space: nowrap;
}
.panela label
{
	width: 140px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	font-weight: bold;
}
.panela label:first-of-type.luzea
{
	width: auto;
}
.panela .field input,
.panela .field select,
.panela .field textarea,
.panela .field span
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 200px;
}
.panela .field input[readonly=readonly]
{
	background-color: transparent;
	border: none;
}
.panela .field span
{
	display: inline-block;
	white-space: pre-wrap;
}
.panela .azpiSailkapena
{
	position: relative;
	padding-left: 145px;
}
.panela .azpiSailkapena label.title
{
	position: absolute;
	left: 0;
	margin-top: 1.2em;
}
.panela .azpiSailkapena .field
{
	display: inline-block;
	white-space: normal;
}
.panela .azpiSailkapena .field label
{
	display: block !important;
	width: auto !important;
	text-align: left !important;
}
.panela .field .luzea
{
	width: 550px;
}
.panela .field .motza
{
	width: 3em;
}
.panela form
{
	display: inline-block;
	text-align: center;
}
.panela .botoia
{
	margin: 1em auto;
}

.iruzkinak
{
	width: 710px;
	max-width: 100%;
	margin: 0 auto;
}
.iruzkinak fieldset
{
	border: none;
	padding: 0;
}
.iruzkinak .field,
.iruzkinak .field textarea
{
	width: 100%;
	height: 10em;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

table
{
	box-shadow: 0 0 3px #606060;
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: auto auto 2em;
	width: 100%;
	text-align: left;
	border-radius: 3px;
}
table caption
{
	text-align: left;
}
table thead tr th,
table tfoot tr td
{
	color: #003366;
	background-color: #90c3f8;
	font-weight: bold;
	font-size: 115%;
	padding: 0.5em 0.35em;
}
table thead,
table tfoot
{
	box-shadow: 0 0 3px #111;
}
table thead th
{
	text-align: left;
}
table tbody tr
{
	background-color: #eee;
}
table tbody tr:not(:last-child) td
{
	border-bottom: 1px solid white;
}
table tbody tr:nth-of-type(odd)
{
	background-color: #eee;
}
table tbody tr:nth-of-type(even)
{
	background-color: #ddd;
}
table tbody tr.egoera1
{
}
table tbody tr.egoera2
{
	background-color: #e7f2ff;
}
table tbody tr.egoera3
{
}
table tbody tr.egoera4
{
	background-color: #ffebce;
}
table tbody tr.egoera5
{
	background-color: #eaffd6;
}
table tbody tr.egoera6
{
	background-color: #fee5e5;
}
table tr.esteka:hover
{
	cursor: pointer;
}
table tr td.lehentasuna
{
	text-align: center;
	color: #990000;
	font-weight: bold;
}
table tbody td
{
	padding-left: 0.35em;
	padding-right: 0.35em;
	white-space: pre-wrap;
	vertical-align: top;
}
table th.header
{
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 20px;
	margin-right: -1px;
	padding: 3px 20px 3px 5px;
}
table th.headerSortUp
{
	background-image: url('../images/asc.gif');
	color: white;
	background-color: #6699cc;
}
table th.headerSortDown
{
	background-image: url('../images/desc.gif');
	color: white;
	background-color: #6699cc;
}

#ekintzakIreki
{
	display: none;
}
#ekintzakIreki img
{
	height: 8px;
}
#ekintzak
{
	position: relative;
	float: right;
	top: 0;
	width: auto;
}
#ekintzak .botoia,
#ekintzak select,
#ekintzak textarea
{
	display: block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
	margin-bottom: 0.5em;
	border-radius: 3px;
	box-shadow: 0 0 3px #606060;
}
#ekintzak textarea
{
	text-align: left;
}

.erroreak
{
	display: inherit;
	list-style: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0;
	left: 0;
	padding: 0;
	border: 2px solid red;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-animation: izkutatu ease-out 5s;
	animation: izkutatu ease-out 5s;
	opacity: 0;
}
.erroreak li
{
	display: block;
	font-weight: bold;
	color: red;
	background-color: #fee5e5;
	border: 1px solid #eee;
	text-align: center;
}
.errorea > input,
.errorea > select,
.errorea > textarea
{
	background-color: #fee5e5;
	border: 2px solid red;
}
@-webkit-keyframes izkutatu
{
	0%
	{
		opacity: 1;
	}
	75%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}
@keyframes izkutatu
{
	0%
	{
		opacity: 1;
	}
	75%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

.aplikazioErroreOrokorra
{
	display: inline-block;
	text-align: center;
	font-size: xx-large;
	color: white;
	background-color: #6699cc;
	box-shadow: 0 0 3px #606060;
	border-radius: 3px;
	margin-top: 10%;
	padding: 1em;
	width: 800px;
	max-width: 75%;
}
.aplikazioErrorea
{
	text-align: center;
	font-size: xx-large;
	margin-top: 1em;
}
.aplikazioErroreOrokorra img,
.aplikazioErrorea img
{
	vertical-align: middle;
	margin-right: 0.25em;
}

.botoia,
input[type=submit]
{
	display: inline-block;
	color: black;
	background-color: white;
	text-decoration: none;
	border: 1px solid #ccc;
	box-shadow: 0 0 3px #606060;
	height: 2em;
	line-height: 2em;
	min-width: 5em;
	vertical-align: middle;
	font-size: small;
}

#planoOsoa
{
	box-shadow: 0 0 3px #606060;
	width: auto;
	height: auto;
	position: absolute;
	top: 1em;
	bottom: 1em;
	left: 1em;
	right: 1em;
}
#edukplanoa
{
	border: 1px solid #ccc;
	box-shadow: 0 0 3px #606060;
	width: 100%;
	height: auto;
	position: absolute;
	top: 1em;
	bottom: 0;
}
.mapa
{
	width: 100%;
	height: 100%;
}

.infoWindow
{
	margin: 0.25em;
	white-space: nowrap;
	overflow: hidden;

}

.izkutua
{
	display: none;
}

.eskaerak .created_at,
.eskaerak .updated_at,
.eskaerak .ixte_data,
.eskaerak .hasiera_aurreikusia,
.eskaerak .amaiera_aurreikusia,
.gertakariak .created_at,
.gertakariak .updated_at,
.gertakariak .ixte_data,
.gertakariak .hasiera_aurreikusia,
.gertakariak .amaiera_aurreikusia
{
	width: 5em;
}
.eskaerak .barrutia,
.gertakariak .barrutia
{
	width: 5em;
}
.eskaerak .eraikinakalea,
.gertakariak .eraikinakalea
{
	min-width: 8em;
}
.eskaerak .abisuanork,
.gertakariak .abisuanork
{
	min-width: 6em;
}
.eskaerak .egoera,
.gertakariak .egoera
{
	width: 6em;
}
